<!DOCTYPE html>
<html>
<head>
    <title>Audio Recorder</title>
    <link rel="stylesheet" type="text/css" href="/static/audio.css">
</head>
<body>
    <div class="container">
        <button id="recordButton">Record</button>
        <button id="stopButton" disabled>Stop</button>
        <button id="uploadButton" disabled>Upload</button>
        <div id="status">Recording Duration: <span id="duration">0</span> seconds</div>
        <div id="class"></div>
    </div>
    <script src="/static/audio.js"></script>
</body>
</html>

